{% extends 'posts/base.html' %}
{% block content %}
  {% if events != None %}
    {% if events.count < 10 %}
      <p class="lead">Please come back when you have 10 events. No rush.</p>
    {% elif events %}
      <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
      <div class="row">
        <div class="col-lg-4">
          <canvas id="group_pie" width="500" height="500"></canvas>
        </div>
        <div class="col-lg-4">
          <canvas id="past_day_pie" width="500" height="500" class="offset-md-6"></canvas>
        </div>
      </div>
      <script type="text/javascript">
        function arrayRandomColors(len) {
          var arr = [];
          for (var i = 0; i < len; i++) {
            arr.push('#' + (Math.random().toString(16) + '0000000').slice(2, 8));
          }
          return arr;
        }
        function pieGraphGet(url, attribute, title) {
          $.get(url, function(data) {
            var ctx = $(attribute).get(0).getContext("2d");
            new Chart(ctx, {
              type: 'pie',
              data: {
                datasets: [{
                  data: data['datasets'][0]['data'],
                  backgroundColor: arrayRandomColors(data['datasets'][0]['data'].length),
                  hoverBackgroundColor: arrayRandomColors(data['datasets'][0]['data'].length)
                }],
                labels: data['labels']
              },
              options: {
                legend: {
                  labels: {
                    fontColor: "white"
                  }
                },
                title: {
                  fontColor: "white",
                  fontSize: 18,
                  display: true,
                  text: title
                },
                responsive: false
              }
            });
          });
        }
        pieGraphGet("{% url 'posts:analyticsgroupingpiejson' %}", "#group_pie", "Grouping events by connecting titles");
        pieGraphGet("{% url 'posts:analyticspastdaypiejson' %}", "#past_day_pie", "Past day events");
      </script>
    {% endif %}
  {% else %}
    <p class="lead">I am not detecting any posts.</p>
  {% endif %}
{% endblock %}